/* Caluculator task*/
/* .calculator{


    height: 200px;
    width: 250px;
}
button{
    height: 50px;
    width: 50px;
} */
/*//!==========css for Nav component
*/
nav{
    display: flex;
    flex-grow: 1;
    height: 3em;
    width: 100vw;
    background: grey;



}

.nav-item{
    text-decoration: none;
    flex-grow: 1;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item:hover{
    background: pink;
    
}
.about{
    background: yellow;
    height: 50vh;
    width: 100vw;

}
.home{
    background: rgb(62, 145, 45);
    height: 50vh;
    width: 100vw;

}
.login{
  background: rgb(35, 248, 255);
    height: 50vh;
    width: 100vw;

}
.contact{
    background: rgb(26, 54, 138);
    height: 50vh;
    width: 100vw;


}
.active{
    background: rgb(213, 213, 204);
}